.mainWrap{
    padding: 2rem;
    width: 100%;
    min-width: 280px;
    min-height: calc(100vh - 70px);
    background: url('../Assets/bg2.jpg') fixed no-repeat;
    background-size: cover;
    color: white;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:0.5rem;
}

.top{
    position: relative;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap:0.5rem;
    flex-wrap: wrap;
    background: #00000073;
    border-radius: 12px / 12px;
    backdrop-filter: blur(5px);
    overflow: hidden;
}
.top .el{
    flex:70%;
}
.mid{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap:2rem;
    width: 100%;
    flex-wrap: wrap;
}
.top .el{
    flex: 30%;
}
.mid .el{
    flex: 30%;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    min-height: 75vh;
}
.banner{
    padding: 1rem 1.5rem;
    border-radius: 6px;
}
.cc{
    position: relative;
    padding: 2rem;
    border-radius: 0 102px / 102px 128px;
    width: 60%;
    min-width: 300px;
    background: #00000079;
    margin-block:1rem;
    backdrop-filter: blur(4px);
    overflow: hidden;
}
.body .top::before{
    content: '';
    position: absolute;
    top:-70px;
    left:0;
    width: 100%;
    height: 70%;
    background: #000;
    transform: skewY(-15deg);
    box-shadow: 0 70px 0 10px red ;
    z-index: -1;
}
.body .top::after{
    content: '';
    position: absolute;
    top:-70px;
    right:0;
    width: 100%;
    height: 70%;
    background: #000;
    transform: skewY(15deg);
    box-shadow: 0 70px 0 10px green ;
    z-index: -1;
}
.banner{
    margin-block: 1rem;
}
@media screen and (max-width:744px) {
    .mainWrap{
        background:url('../Assets/bg2.jpg') fixed no-repeat;
        background-size: cover;
    }
    .top{
        justify-content: center;
        width: 90%;
    }
    .mid{
        justify-content: center;
        align-items: center;
    }
}
