.cardTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
}
.contentImage{
    object-fit:cover;
    border-radius:12px 12px 0 0 ;
    transition: all 0.5s ease;
    height: 50%;
    background: #000;
}
.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    background: #000;
    color: whitesmoke;
}
.desc .description{
    padding: 1rem;
}